{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : Accueil{% endblock %}


{% block body %}

<header class="masthead">
    <div class="container px-5 h-100">
        <div class="h-100 center">
            <!-- Mashead text and app badges-->
                <h1 class="display-2 lh-1 text-white text-center mb-3">Site officiel du groupe demi-fond</h1>
                <p class="lead fw-normal text-white text-center mb-5">Launch your mobile app landing page faster with this free, open source theme from Start Bootstrap!</p>
            
        </div>
    </div>
</header>

<section>


</section>

{% endblock %}
