{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : Accueil{% endblock %}


{% block body %}
<div class="page">
    <header class="masthead">
        <div class="container px-5 h-100">
            <div class="h-100 center">
                <!-- Mashead text and app badges-->
                    <h1 class="display-2 lh-1 text-white text-center ">Site officiel du groupe de demi-fond Abbevillois</h1>
                    <p class="lead fw-normal text-white text-center ">Launch your mobile app landing page faster with this free, open source theme from Start Bootstrap!</p>
                
            </div>
        </div>
    </header>

    <div>
        <section>
            <div id="services" class="cards-1">
                    <div class="container">
                        <div class="row">
                            
                                {% for article in articles %}
                                    
                                
                                    <!-- Card -->
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">{{article.title}}</h5>
                                                <p class="card-text">{{  article.formatedcontent | u.truncate(200, '...') | raw}}</p>
                                                <div class="d-flex justify-content-center">
                                                    <a href="#" class="btn btn-dark text-center my-2">Lire l'article</a>
                                                </div>
                                                <p class="text-end mt-3">{{article.FormatedDate}}</p>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of card -->
                                {% endfor %}
                        </div> <!-- end of row -->
                    </div> <!-- end of container -->
            </div>

        </section>
    </div>
</div>

{% endblock %}
