{% extends 'admin/base/base_admin.html.twig' %}

{% block title %}{{parent()}} : Administration{% endblock %}

{% block body %}
<div class="mt-10">
    {% include "admin/base/nav.html.twig" %}
    <div class="d-flex justify-content-center container">
        <h1>Liste des articles</h1>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-3">
            {{message}}
        </div>
        {% endfor %}
    </div>

    
</div>
{% endblock %}
