// 
// Colors
// 

// Override Bootstrap color systel colors

$blue: #2937f0;
$purple: #9f1ae2;
$grey: #25252b;

// Override Bootstrap default state colors

$primary: $blue;
$secondary: $grey;


@import "./custum_val_color";