{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : Articles{% endblock %}

{% block body %}
<div>
    <section>
        <div id="services" class="cards-1">
                <div class="container">
                    <div class="row">
                        
                            {% for article in articles %}
                                
                            
                                <!-- Card -->
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{article.title}}</h5>
                                            <p class="card-text">{{article.content}}</p>
                                            <p class="card-footer">{{article.CreatedAt | date('d-m-Y')}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of card -->
                            {% endfor %}
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div>

    </section>
</div>
{% endblock %}
